@model RegisterViewModel
    <div class="register-page">

        <partial name="_ValidationSummary" />

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Novo Registo</h3>
                </div>
                <div class="panel-body">

                    <form asp-route="Register">
                        <fieldset>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" asp-for="Password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Confirme a Password</label>
                                <input type="password" class="form-control" id="confirm_password" placeholder="Password" asp-for="ConfirmPassword" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Indique o email</label>
                                <input type="email" class="form-control" placeholder="email" asp-for="Email" autofocus>
                            </div>
                            <div class="form-group">
                                <label>Confirme o email</label>
                                <input type="email" class="form-control" placeholder="email" asp-for="ConfirmEmail" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Escolha o seu perfil</label>
                                <select asp-for="Role" asp-items="Model.Roles"></select>

                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="Register">Registar</button>
                                <button class="btn btn-default" name="button" value="Cancel">Cancelar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="~/js/register.js"></script>