@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Autenticação</h1>
    <p>O <a href="http://cintesis.eu/pt/portfolio-items/airdoc-aplicacao-movel-inteligente-para-suporte-individualizado-e-monitorizacao-da-funcao-e-sons-respiratorios-de-doentes-obstrutivos-cronicos/">AIRDOC</a> é um projeto na área da saúde móvel (mHealth) que visa o desenvolvimento de novas ferramentas e soluções tecnológicas de monitorização e de autogestão de doenças respiratórias obstrutivas crónicas com base em smartphones e sensores integrados, com o objetivo de melhorar os cuidados de saúde nesta área. building Web apps with ASP.NET Core.</p>
</div>
